services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"

  test-db:
    image: postgres:16
    environment:
      POSTGRES_DB: test_db
      POSTGRES_USER: test
      POSTGRES_PASSWORD: test
    ports:
      - "5433:5432"

  api:
    build: .
    volumes:
      - ./src:/app/src
    depends_on:
      - test-db
    command: >
      sh -c "
        alembic upgrade head &&
        uvicorn app.service:app --host 0.0.0.0 --port 8000
      "
    ports:
      - "8000:8000"
